@mixin button($background-color, $font-color, $font-size) {
    height: 50px;

    display: inline-block;
    padding: 10px 20px;

    background-color: $background-color;
    border: none;

    font-family: 'Oswald';
    font-size: $font-size;
    font-weight: bold;

    line-height: 3.0rem;
    color: $font-color;
    text-align: center;
    text-transform: uppercase;

    @include transition(all, 0.2s, ease);

    &:hover {
        background-color: lighten($background-color, 5%);
        color: $font-color;
    }

    &:active {
        background-color: darken($background-color, 5%);
        color: $font-color;
    }
}

.button {
    @include button($theme-color-03, $theme-color-00, 1.4rem);
}