// Basic Forms File

.field {
  margin: 0 0 20px;
}

label {
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  margin: 0 0 10px;
}

input[type=text], 
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=url],
input[type=num],
textarea {
    width: 100%;
    height: $form-element-standard-height;

    padding: 10px;

    background: $white;
    border: 1px solid $grey80;
    box-shadow: inset 0 2px 2px $grey90;

    font-size: 1.6rem;
    line-height: 1.6rem;

    display: inline-block;
    position: relative;

    outline: none;

    @include transition(all, 0.2s);

    &:active, &:focus {
        background-color: darken($white, 5%);
    }
}

textarea {
    height: $form-element-standard-height * 5;
    resize: none;

    font-family: 'Open Sans';
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input[type=submit] {
  @include button($theme-color-03, $theme-color-00, 1.4rem);
  float: right;
  cursor: pointer;
}

form span {
  color: red;
  padding: 5px 10px;
  display: block;
  float: right;
}