// We use a custom select box, so we can style it exactly how we want rather than relying on separate browser styles

.select {
    width: 100%;
    max-height: $form-element-standard-height;

    background: $white url(/images/drop-down-arrow.png) no-repeat right 22px;
    border: 1px solid $grey80;
    box-shadow: inset 0 2px 2px $grey90;

    font-size: 1.6rem;
    line-height: 1.6rem;

    display: inline-block;
    position: relative;

    overflow: hidden;

    @include transition(all, 0.2s);

    &:active {
        background-color: darken($white, 5%);
    }

    &.select-options-open {
        max-height: 500px;
        overflow-y: scroll;
        background-color: darken($white, 5%);
    }

    .current-selected-option {
        padding: 0 10px;
        margin: 0;
        width: 100%;
        line-height: $form-element-standard-height;
    }

    .options {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        border-top: 1px solid $grey80;

        li {
            width: 100%;
            height: $form-element-standard-height - 20px;
            padding: 0 10px;

            font-size: 1.2rem;
            line-height: $form-element-standard-height - 20px;
            list-style: none;

            border-bottom: 1px solid $grey80;

            cursor: pointer;

            @include transition(all, 0.2s, ease);

            &:last-child {
                border-bottom: none;
            }

            &:nth-child(odd) {
                background-color: $white;
            }

            &:nth-child(even) {
                background-color: $grey90;
            }

            &:hover {
                background-color: lighten($grey90, 5%);
            }

            &:active {
                background-color: darken($grey90, 5%);
            }
        }
    }
}