* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

body {
    background: url(images/background.jpg) fixed 0 0;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding-top: $header-height;
}