h1, h2, h3, h4, h5 ,h6 {
    font-weight: 700;
    margin: 2rem 0;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 4rem;
    line-height: 4.8rem;
}

h2 {
    font-size: 3.0rem;
    line-height: 3.8rem;
}

h3 {
    font-size: 2.4rem;
    line-height: 3.4rem;
}

h4 {
    font-size: 2.0rem;
    line-height: 2.8rem;
}

h5 {
    font-size: 1.8rem;
    line-height: 2.6rem;
}

h6 {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

p, ul, ol {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

a {
  color: $theme-color-03;
  text-decoration: none;
  @include transition(all, 0.5s);

  &:hover {
    color: lighten($theme-color-03, 10%);
  }
}