/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700,600,800,400);
/* line 9, ../../bloodofthemage-src/sass/vendor/_grid.scss */
[class*='col-'] {
  float: left;
  padding-right: 30px;
  /* column-space */
}

/* line 15, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.grid {
  width: 100%;
  max-width: 1170px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 21, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 28, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.grid-pad {
  padding-top: 30px;
  padding-left: 30px;
  /* grid-space to left */
  padding-right: 0px;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

/* line 36, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-right {
  float: right;
}

/* Content Columns */
/* line 42, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-1-1 {
  width: 100%;
}

/* line 46, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-2-3, .col-8-12 {
  width: 66.66%;
}

/* line 50, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-1-2, .col-6-12 {
  width: 50%;
}

/* line 54, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-1-3, .col-4-12 {
  width: 33.33%;
}

/* line 58, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-1-4, .col-3-12 {
  width: 25%;
}

/* line 62, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-1-5 {
  width: 20%;
}

/* line 66, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-1-6, .col-2-12 {
  width: 16.667%;
}

/* line 70, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-1-7 {
  width: 14.28%;
}

/* line 74, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 78, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-1-9 {
  width: 11.1%;
}

/* line 82, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-1-10 {
  width: 10%;
}

/* line 86, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-1-11 {
  width: 9.09%;
}

/* line 90, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-1-12 {
  width: 8.33%;
}

/* Layout Columns */
/* line 96, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-11-12 {
  width: 91.66%;
}

/* line 100, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-10-12 {
  width: 83.333%;
}

/* line 104, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-9-12 {
  width: 75%;
}

/* line 108, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-5-12 {
  width: 41.66%;
}

/* line 112, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.col-7-12 {
  width: 58.33%;
}

/* Pushing blocks */
/* line 118, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-2-3, .push-8-12 {
  margin-left: 66.66%;
}

/* line 122, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-1-2, .push-6-12 {
  margin-left: 50%;
}

/* line 126, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-1-3, .push-4-12 {
  margin-left: 33.33%;
}

/* line 130, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-1-4, .push-3-12 {
  margin-left: 25%;
}

/* line 134, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-1-5 {
  margin-left: 20%;
}

/* line 138, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-1-6, .push-2-12 {
  margin-left: 16.667%;
}

/* line 142, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-1-7 {
  margin-left: 14.28%;
}

/* line 146, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-1-8 {
  margin-left: 12.5%;
}

/* line 150, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-1-9 {
  margin-left: 11.1%;
}

/* line 154, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-1-10 {
  margin-left: 10%;
}

/* line 158, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-1-11 {
  margin-left: 9.09%;
}

/* line 162, ../../bloodofthemage-src/sass/vendor/_grid.scss */
.push-1-12 {
  margin-left: 8.33%;
}

@media handheld, only screen and (max-width: 767px) {
  /* line 167, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 10px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
  }

  /* line 177, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  [class*='col-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
  }

  /* Mobile Layout */
  /* line 189, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  [class*='mobile-col-'] {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0px;
  }

  /* line 200, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-1-1 {
    width: 100%;
  }

  /* line 203, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%;
  }

  /* line 206, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%;
  }

  /* line 209, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%;
  }

  /* line 212, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%;
  }

  /* line 215, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-1-5 {
    width: 20%;
  }

  /* line 218, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%;
  }

  /* line 221, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-1-7 {
    width: 14.28%;
  }

  /* line 224, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-1-8 {
    width: 12.5%;
  }

  /* line 227, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-1-9 {
    width: 11.1%;
  }

  /* line 230, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-1-10 {
    width: 10%;
  }

  /* line 233, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-1-11 {
    width: 9.09%;
  }

  /* line 236, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-1-12 {
    width: 8.33%;
  }

  /* Layout Columns */
  /* line 240, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-11-12 {
    width: 91.66%;
  }

  /* line 243, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-10-12 {
    width: 83.333%;
  }

  /* line 246, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-9-12 {
    width: 75%;
  }

  /* line 249, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-5-12 {
    width: 41.66%;
  }

  /* line 252, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .mobile-col-7-12 {
    width: 58.33%;
  }

  /* line 255, ../../bloodofthemage-src/sass/vendor/_grid.scss */
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
  }
}
/* line 1, ../../bloodofthemage-src/sass/base/_body.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../bloodofthemage-src/sass/base/_body.scss */
html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

/* line 11, ../../bloodofthemage-src/sass/base/_body.scss */
body {
  background: url(images/background.jpg) fixed 0 0;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding-top: 100px;
}

/* line 1, ../../bloodofthemage-src/sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 2rem 0;
  font-family: 'Oswald', sans-serif;
}

/* line 7, ../../bloodofthemage-src/sass/base/_typography.scss */
h1 {
  font-size: 4rem;
  line-height: 4.8rem;
}

/* line 12, ../../bloodofthemage-src/sass/base/_typography.scss */
h2 {
  font-size: 3.0rem;
  line-height: 3.8rem;
}

/* line 17, ../../bloodofthemage-src/sass/base/_typography.scss */
h3 {
  font-size: 2.4rem;
  line-height: 3.4rem;
}

/* line 22, ../../bloodofthemage-src/sass/base/_typography.scss */
h4 {
  font-size: 2.0rem;
  line-height: 2.8rem;
}

/* line 27, ../../bloodofthemage-src/sass/base/_typography.scss */
h5 {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

/* line 32, ../../bloodofthemage-src/sass/base/_typography.scss */
h6 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* line 37, ../../bloodofthemage-src/sass/base/_typography.scss */
p, ul, ol {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* line 42, ../../bloodofthemage-src/sass/base/_typography.scss */
a {
  color: #ef8222;
  text-decoration: none;
  transition: all 0.5s  ;
}
/* line 47, ../../bloodofthemage-src/sass/base/_typography.scss */
a:hover {
  color: #f29d52;
}

/* line 1, ../../bloodofthemage-src/sass/layout/_header.scss */
.header-container {
  width: 100%;
  height: 100px;
  background-color: #121212;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
/* line 11, ../../bloodofthemage-src/sass/layout/_header.scss */
.header-container .header .site-title {
  padding: 25px 0;
  float: left;
}
/* line 15, ../../bloodofthemage-src/sass/layout/_header.scss */
.header-container .header .site-title h1 {
  text-transform: uppercase;
  font-size: 3.0rem;
  line-height: 3.8rem;
  margin: 0;
}
/* line 21, ../../bloodofthemage-src/sass/layout/_header.scss */
.header-container .header .site-title h1 a {
  color: #FFF;
  text-decoration: none;
}
/* line 25, ../../bloodofthemage-src/sass/layout/_header.scss */
.header-container .header .site-title h1 a:hover {
  color: #ef8222;
}
/* line 30, ../../bloodofthemage-src/sass/layout/_header.scss */
.header-container .header .site-title h2 {
  color: #7a7a7a;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1.1rem;
  margin: 0;
  font-family: 'Open Sans';
}
@media screen and (max-width: 1024px) {
  /* line 11, ../../bloodofthemage-src/sass/layout/_header.scss */
  .header-container .header .site-title {
    padding: 25px 0;
  }
}

/* line 1, ../../bloodofthemage-src/sass/layout/_footer.scss */
.footer-container {
  width: 100%;
  background: #121212;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
}
/* line 9, ../../bloodofthemage-src/sass/layout/_footer.scss */
.footer-container .footer {
  height: 30px;
  line-height: 30px;
  text-align: right;
  color: #7a7a7a;
}

/* line 1, ../../bloodofthemage-src/sass/layout/_content.scss */
.content-container {
  display: flex;
  overflow: hidden;
}
/* line 5, ../../bloodofthemage-src/sass/layout/_content.scss */
.content-container .content {
  flex: 3;
  min-height: 100%;
  padding: 30px 30px 60px;
  background: rgba(255, 255, 255, 0.9);
}
@media screen and (max-width: 768px) {
  /* line 1, ../../bloodofthemage-src/sass/layout/_content.scss */
  .content-container {
    display: block;
  }
}

/* line 1, ../../bloodofthemage-src/sass/layout/_sidebar.scss */
.sidebar {
  background: url(images/sidebar-background.png);
  color: #FFF;
  padding: 30px;
  flex: 1;
}
/* line 8, ../../bloodofthemage-src/sass/layout/_sidebar.scss */
.sidebar h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  margin: 0 0 20px;
}
/* line 15, ../../bloodofthemage-src/sass/layout/_sidebar.scss */
.sidebar .widget {
  margin: 0 0 30px;
  padding: 0 0 30px;
  border-bottom: 10px solid rgba(255, 255, 255, 0.5);
}
/* line 20, ../../bloodofthemage-src/sass/layout/_sidebar.scss */
.sidebar .widget p {
  margin: 0;
}
/* line 24, ../../bloodofthemage-src/sass/layout/_sidebar.scss */
.sidebar .widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 33, ../../bloodofthemage-src/sass/layout/_sidebar.scss */
.sidebar .widget ul li {
  margin: 0 0 20px;
}
/* line 38, ../../bloodofthemage-src/sass/layout/_sidebar.scss */
.sidebar .widget input[type=text] {
  margin: 0 0 20px;
}
/* line 43, ../../bloodofthemage-src/sass/layout/_sidebar.scss */
.sidebar .widget.widget--tags a {
  padding: 0 0 10px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}
/* line 51, ../../bloodofthemage-src/sass/layout/_sidebar.scss */
.sidebar .widget:last-child {
  border-bottom: none;
}
/* line 55, ../../bloodofthemage-src/sass/layout/_sidebar.scss */
.sidebar .widget:before, .sidebar .widget:after {
  display: table;
  content: "";
}
/* line 60, ../../bloodofthemage-src/sass/layout/_sidebar.scss */
.sidebar .widget:after {
  clear: both;
}

/* line 1, ../../bloodofthemage-src/sass/layout/_navigation.scss */
.mobile-navigation {
  width: 40px;
  height: 30px;
  background: gray;
  position: absolute;
  right: 20px;
  top: 32px;
  display: none;
}
/* line 10, ../../bloodofthemage-src/sass/layout/_navigation.scss */
.mobile-navigation:before, .mobile-navigation:after {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  background: #121212;
  position: absolute;
  left: 0;
}
/* line 20, ../../bloodofthemage-src/sass/layout/_navigation.scss */
.mobile-navigation:before {
  top: 6px;
}
/* line 24, ../../bloodofthemage-src/sass/layout/_navigation.scss */
.mobile-navigation:after {
  bottom: 6px;
}
@media screen and (max-width: 640px) {
  /* line 1, ../../bloodofthemage-src/sass/layout/_navigation.scss */
  .mobile-navigation {
    width: 30px;
    right: 5px;
  }
}

/* line 34, ../../bloodofthemage-src/sass/layout/_navigation.scss */
.main-navigation {
  float: right;
}
/* line 37, ../../bloodofthemage-src/sass/layout/_navigation.scss */
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'Oswald';
  line-height: 10rem;
}
/* line 45, ../../bloodofthemage-src/sass/layout/_navigation.scss */
.main-navigation ul li {
  margin-right: 70px;
  float: left;
}
/* line 49, ../../bloodofthemage-src/sass/layout/_navigation.scss */
.main-navigation ul li:last-child {
  margin-right: 0;
}
/* line 53, ../../bloodofthemage-src/sass/layout/_navigation.scss */
.main-navigation ul li a {
  color: #7a7a7a;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 58, ../../bloodofthemage-src/sass/layout/_navigation.scss */
.main-navigation ul li a:hover {
  color: #ef8222;
}

@media screen and (max-width: 1024px) {
  /* line 67, ../../bloodofthemage-src/sass/layout/_navigation.scss */
  .mobile-navigation {
    display: block;
  }

  /* line 71, ../../bloodofthemage-src/sass/layout/_navigation.scss */
  .main-navigation {
    width: 100%;
    height: 0;
    background: #121212;
    position: absolute;
    left: 0;
    top: 101px;
    opacity: 0;
    transition: all 0.5s ease ;
  }
  /* line 85, ../../bloodofthemage-src/sass/layout/_navigation.scss */
  .main-navigation ul li {
    margin: 0 20px;
    line-height: 5rem;
    font-size: 1.6rem;
  }
  /* line 92, ../../bloodofthemage-src/sass/layout/_navigation.scss */
  .main-navigation.main-navigation--displayed {
    height: 50px;
    opacity: 1;
  }
}
/* line 32, ../../bloodofthemage-src/sass/components/_buttons.scss */
.button {
  height: 50px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #ef8222;
  border: none;
  font-family: 'Oswald';
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 3.0rem;
  color: #121212;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease ;
}
/* line 21, ../../bloodofthemage-src/sass/components/_buttons.scss */
.button:hover {
  background-color: #f18f3a;
  color: #121212;
}
/* line 26, ../../bloodofthemage-src/sass/components/_buttons.scss */
.button:active {
  background-color: #e77511;
  color: #121212;
}

/* line 3, ../../bloodofthemage-src/sass/components/_forms.scss */
.field {
  margin: 0 0 20px;
}

/* line 7, ../../bloodofthemage-src/sass/components/_forms.scss */
label {
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  margin: 0 0 10px;
}

/* line 14, ../../bloodofthemage-src/sass/components/_forms.scss */
input[type=text],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=url],
input[type=num],
textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  background: #FFF;
  border: 1px solid #cccccc;
  box-shadow: inset 0 2px 2px #e6e6e6;
  font-size: 1.6rem;
  line-height: 1.6rem;
  display: inline-block;
  position: relative;
  outline: none;
  transition: all 0.2s  ;
}
/* line 41, ../../bloodofthemage-src/sass/components/_forms.scss */
input[type=text]:active, input[type=text]:focus,
input[type=email]:active,
input[type=email]:focus,
input[type=number]:active,
input[type=number]:focus,
input[type=search]:active,
input[type=search]:focus,
input[type=tel]:active,
input[type=tel]:focus,
input[type=url]:active,
input[type=url]:focus,
input[type=num]:active,
input[type=num]:focus,
textarea:active,
textarea:focus {
  background-color: #f2f2f2;
}

/* line 46, ../../bloodofthemage-src/sass/components/_forms.scss */
textarea {
  height: 250px;
  resize: none;
  font-family: 'Open Sans';
}

/* line 53, ../../bloodofthemage-src/sass/components/_forms.scss */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* line 59, ../../bloodofthemage-src/sass/components/_forms.scss */
input[type=submit] {
  height: 50px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #ef8222;
  border: none;
  font-family: 'Oswald';
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 3.0rem;
  color: #121212;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease ;
  float: right;
  cursor: pointer;
}
/* line 21, ../../bloodofthemage-src/sass/components/_buttons.scss */
input[type=submit]:hover {
  background-color: #f18f3a;
  color: #121212;
}
/* line 26, ../../bloodofthemage-src/sass/components/_buttons.scss */
input[type=submit]:active {
  background-color: #e77511;
  color: #121212;
}

/* line 65, ../../bloodofthemage-src/sass/components/_forms.scss */
form span {
  color: red;
  padding: 5px 10px;
  display: block;
  float: right;
}

/* line 3, ../../bloodofthemage-src/sass/components/_select.scss */
.select {
  width: 100%;
  max-height: 50px;
  background: #FFF url(/images/drop-down-arrow.png) no-repeat right 22px;
  border: 1px solid #cccccc;
  box-shadow: inset 0 2px 2px #e6e6e6;
  font-size: 1.6rem;
  line-height: 1.6rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all 0.2s  ;
}
/* line 21, ../../bloodofthemage-src/sass/components/_select.scss */
.select:active {
  background-color: #f2f2f2;
}
/* line 25, ../../bloodofthemage-src/sass/components/_select.scss */
.select.select-options-open {
  max-height: 500px;
  overflow-y: scroll;
  background-color: #f2f2f2;
}
/* line 31, ../../bloodofthemage-src/sass/components/_select.scss */
.select .current-selected-option {
  padding: 0 10px;
  margin: 0;
  width: 100%;
  line-height: 50px;
}
/* line 38, ../../bloodofthemage-src/sass/components/_select.scss */
.select .options {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border-top: 1px solid #cccccc;
}
/* line 45, ../../bloodofthemage-src/sass/components/_select.scss */
.select .options li {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  font-size: 1.2rem;
  line-height: 30px;
  list-style: none;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  transition: all 0.2s ease ;
}
/* line 60, ../../bloodofthemage-src/sass/components/_select.scss */
.select .options li:last-child {
  border-bottom: none;
}
/* line 64, ../../bloodofthemage-src/sass/components/_select.scss */
.select .options li:nth-child(odd) {
  background-color: #FFF;
}
/* line 68, ../../bloodofthemage-src/sass/components/_select.scss */
.select .options li:nth-child(even) {
  background-color: #e6e6e6;
}
/* line 72, ../../bloodofthemage-src/sass/components/_select.scss */
.select .options li:hover {
  background-color: #f2f2f2;
}
/* line 76, ../../bloodofthemage-src/sass/components/_select.scss */
.select .options li:active {
  background-color: #d9d9d9;
}

/* line 1, ../../bloodofthemage-src/sass/modules/_table.scss */
.table {
  display: inline-block;
  margin: 0 0 20px;
  border: 1px solid #cccccc;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
/* line 10, ../../bloodofthemage-src/sass/modules/_table.scss */
.table ul {
  margin: 0;
  padding: 0;
}
/* line 14, ../../bloodofthemage-src/sass/modules/_table.scss */
.table ul .row {
  list-style: none;
  border-bottom: 1px solid #cccccc;
}
/* line 18, ../../bloodofthemage-src/sass/modules/_table.scss */
.table ul .row:nth-child(odd) {
  background-color: #FFF;
}
/* line 22, ../../bloodofthemage-src/sass/modules/_table.scss */
.table ul .row:nth-child(even) {
  background-color: #e6e6e6;
}
/* line 26, ../../bloodofthemage-src/sass/modules/_table.scss */
.table ul .row:before, .table ul .row:after {
  display: block;
  content: "";
  clear: both;
}
/* line 32, ../../bloodofthemage-src/sass/modules/_table.scss */
.table ul .row:last-child {
  border-bottom: none;
}
/* line 36, ../../bloodofthemage-src/sass/modules/_table.scss */
.table ul .row .column {
  float: left;
  padding: 10px;
  border-right: 1px solid #cccccc;
}
/* line 41, ../../bloodofthemage-src/sass/modules/_table.scss */
.table ul .row .column:last-child {
  border-right: none;
}

/* line 2, ../../bloodofthemage-src/sass/modules/_comments.scss */
.comments .comments-title {
  font-size: 1.8rem;
}
/* line 5, ../../bloodofthemage-src/sass/modules/_comments.scss */
.comments .comment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 10, ../../bloodofthemage-src/sass/modules/_comments.scss */
.comments .comment-list ol {
  list-style: none;
}
/* line 14, ../../bloodofthemage-src/sass/modules/_comments.scss */
.comments .comment-list .comment {
  position: relative;
}
/* line 17, ../../bloodofthemage-src/sass/modules/_comments.scss */
.comments .comment-list .comment .comment-meta {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #FFF;
}
/* line 22, ../../bloodofthemage-src/sass/modules/_comments.scss */
.comments .comment-list .comment .comment-meta .comment-author {
  font-size: 1.4rem;
}
/* line 25, ../../bloodofthemage-src/sass/modules/_comments.scss */
.comments .comment-list .comment .comment-meta .comment-author img {
  display: none;
}
/* line 30, ../../bloodofthemage-src/sass/modules/_comments.scss */
.comments .comment-list .comment .comment-content {
  padding: 0 40px;
}
/* line 34, ../../bloodofthemage-src/sass/modules/_comments.scss */
.comments .comment-list .comment .comment-reply-link {
  height: 50px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #ef8222;
  border: none;
  font-family: 'Oswald';
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 3.0rem;
  color: #121212;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease ;
  height: 53px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 21, ../../bloodofthemage-src/sass/components/_buttons.scss */
.comments .comment-list .comment .comment-reply-link:hover {
  background-color: #f18f3a;
  color: #121212;
}
/* line 26, ../../bloodofthemage-src/sass/components/_buttons.scss */
.comments .comment-list .comment .comment-reply-link:active {
  background-color: #e77511;
  color: #121212;
}
/* line 44, ../../bloodofthemage-src/sass/modules/_comments.scss */
.comments .comment-respond {
  padding: 40px 0 0;
}

/* line 1, ../../bloodofthemage-src/sass/modules/_blog-post.scss */
.blog-post {
  margin: 0 0 30px;
}
/* line 4, ../../bloodofthemage-src/sass/modules/_blog-post.scss */
.blog-post h1 a, .blog-post h2 a, .blog-post h3 a {
  color: #121212;
}
/* line 7, ../../bloodofthemage-src/sass/modules/_blog-post.scss */
.blog-post h1 a:hover, .blog-post h2 a:hover, .blog-post h3 a:hover {
  color: #ef8222;
}
/* line 12, ../../bloodofthemage-src/sass/modules/_blog-post.scss */
.blog-post img {
  max-width: 100%;
  height: auto;
  border: 10px solid rgba(0, 0, 0, 0.1);
}
/* line 18, ../../bloodofthemage-src/sass/modules/_blog-post.scss */
.blog-post .blog-post--back {
  float: right;
}
/* line 22, ../../bloodofthemage-src/sass/modules/_blog-post.scss */
.blog-post:last-child {
  margin: 0;
}
/* line 27, ../../bloodofthemage-src/sass/modules/_blog-post.scss */
.blog-post .gallery .gallery-item {
  display: inline-block;
  width: auto;
  margin: 0 20px 20px 0;
}
