.blog-post {
  margin: 0 0 30px;

  h1 a, h2 a, h3 a {
    color: $theme-color-00;

    &:hover {
      color: $theme-color-03;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    border: 10px solid rgba(0,0,0,0.1);
  }

  .blog-post--back {
    float: right;
  }

  &:last-child {
    margin: 0;
  }

  .gallery {
    .gallery-item {
      display: inline-block;
      width: auto;
      margin: 0 20px 20px 0;
    }
  }
}