.comments {
  .comments-title {
    font-size: 1.8rem;
  }
  .comment-list {
    list-style: none;
    padding: 0;
    margin: 0;

    ol {
      list-style: none;
    }

    .comment {
      position: relative;

      .comment-meta {
        background: rgba(0,0,0,0.7);
        padding: 10px;
        color: $white;

        .comment-author {
          font-size: 1.4rem;

          img {
            display: none;
          }
        }
      }
      .comment-content {
        padding: 0 40px;
      }

      .comment-reply-link {
        @include button($theme-color-03, $theme-color-00, 1.4rem);
        height: 53px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .comment-respond {
    padding: 40px 0 0;
  }
}