.table {
    display: inline-block;
    margin: 0 0 20px;

    border: 1px solid $grey80;

    font-size: 1.6rem;
    line-height: 1.6rem;

    ul {
        margin: 0;
        padding: 0;

        .row {
            list-style: none;  
            border-bottom: 1px solid $grey80;

            &:nth-child(odd) {
                background-color: $white;
            }

            &:nth-child(even) {
                background-color: $grey90;
            }

            &:before, &:after {
                display: block;
                content: "";
                clear: both;
            }

            &:last-child {
                border-bottom: none;
            }
            
            .column {
                float: left;
                padding: 10px;
                border-right: 1px solid $grey80;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}