.content-container {
  display: flex;
  overflow: hidden;

  .content {
    flex: 3;
    min-height: 100%;
    padding: 30px 30px 60px;
    background: rgba(255,255,255,0.9);
  }

  @media screen and (max-width: 768px)
  {
    display: block;
  }
}