.footer-container {
  width: 100%;
  background: $theme-color-00;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;

  .footer {
    height: $footer-height;
    line-height: $footer-height;

    text-align: right;
    color: $theme-color-01;
  }
}