.header-container {
  width: 100%;
  height: $header-height;
  background-color: $theme-color-00;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  .header {
    .site-title {
      padding: 25px 0;
      float: left;

      h1 {
        text-transform: uppercase;
        font-size: 3.0rem;
        line-height: 3.8rem;
         margin: 0;

        a {
          color: $white;
          text-decoration: none;

          &:hover {
            color: $theme-color-03;
          }
        }
      }
      h2 {
        color: $theme-color-01;
        font-size: 1.1rem;
        font-weight: normal;
        line-height: 1.1rem;
        margin: 0;
        font-family: 'Open Sans';
      }

      @media screen and (max-width: 1024px) {
        padding: 25px 0;
      }
    }
  }
}