.mobile-navigation {
  width: 40px;
  height: 30px;
  background: $grey50;
  position: absolute;
  right: 20px;
  top: 32px;
  display: none;

  &:before, &:after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    background: $theme-color-00;
    position: absolute;
    left: 0;
  }

  &:before {
    top: 6px;
  }

  &:after {
    bottom: 6px;
  }

  @media screen and ( max-width: 640px ) {
    width: 30px;
    right: 5px;
  }
}

.main-navigation {
  float :right;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'Oswald';
    line-height: 10rem;
    li {
      margin-right: 70px;
      float: left;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $theme-color-01;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: $theme-color-03;
        }
      }
    }
  }
}

@media screen and ( max-width: 1024px ) {
  .mobile-navigation {
    display: block;
  }

  .main-navigation {
    width: 100%;
    height: 0;
    background: $theme-color-00;

    position: absolute;
    left: 0;
    top: $header-height + 1;

    opacity: 0;

    @include transition(all, 0.5s, ease);

    ul {
      li {
        margin: 0 20px;
        line-height: 5rem;
        font-size: 1.6rem;
      }
    }

    &.main-navigation--displayed {
      height: $header-height / 2;
      opacity: 1;
    }
  }
}