.sidebar {
  background: url(images/sidebar-background.png);

  color: $white;
  padding: 30px;
  flex: 1;

  h3 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .widget {
    margin: 0 0 30px;
    padding: 0 0 30px;
    border-bottom: 10px solid rgba(255,255,255,0.5);

    p {
      margin: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      font-size: 1.6rem;
      font-weight: bold;
      text-transform: uppercase;

      li {
        margin: 0 0 20px;
      }
    }

    input[type=text] {
      margin: 0 0 20px;
    }

    &.widget--tags {
      a {
        padding: 0 0 10px;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &:before, &:after {
      display: table;
      content: "";
    }

    &:after {
      clear: both;
    }
  }
 }